{% extends 'base.html.twig' %}

{% block title %}Main
{% endblock %}

{% block body %}
	<main class="flex flex-col items-center relative h-[100vh]" style="overflow-y : hidden; z-index: auto;">
		<section id="opposant" class="flex justify-center absolute top-[-18vh] left-50" style="z-index: 2;"></section>
		<section class="absolute top-10 left-50" style="z-index: 1;">
			<article class="absolute top-[-7.5vh] left-[-42.8vw]">
				<span>LEGS</span>
			</article>
			<article class="absolute top-[0vh] left-[14.1vw]">
				<span>ARSENAL</span>
			</article>
			<article class="absolute top-[-7.5vh] left-[37.15vw]">
				<span>BANISH</span>
			</article>
		</section>
		<section class="absolute top-[24.4vh] left-50">
			<article class="absolute top-[-7.4vh] left-[-42.8vw]">
				<span>CHEST</span>
			</article>
			<article class="absolute top-[-7.4vh] left-[-36.9vw]">
				<span>ARMS</span>
			</article>
			<article class="absolute top-0 left-[8.25vw]">
				<span>WEAPON</span>
			</article>
			<article class="absolute top-0 left-[14.1vw]">
				<span>HERO</span>
			</article>
			<article class="absolute top-0 left-[20vw]">
				<span>WEAPON</span>
			</article>
			<article class="absolute top-[-7.4vh] left-[31.2vw]">
				<span>PITCH</span>
			</article>
			<article class="absolute top-[-7.4vh] left-[37.15vw]">
				<span>DECK</span>
			</article>
		</section>
		<section class="absolute top-[40vh] left-50">
			<article class="absolute top-[-6.9vh] left-[-42.8vw]">
				<span>HEAD</span>
			</article>
			<article class="absolute top-[-6.9vh] left-[37.15vw]">
				<span>GRAVEYARD</span>
			</article>
		</section>
		<section class="absolute top-[47vh] left-[33vw]">
			<article class="absolute top-[2.9vh] left-[-33.5vw] w-[202.5vh] border-none h-[1px]"></article>
			<article class="absolute top-[-14vh] left-[-19.9vw] w-[70vh]">
				<span>COMBAT CHAIN</span>
			</article>
		</section>

		<section class="absolute bottom-[47vh] left-[33vw]">
			<article class="absolute bottom-[2.9vh] left-[-33.5vw] w-[202.5vh] border-none h-[1px]"></article>
			<article class="absolute bottom-[-14vh] left-[-19.9vw] w-[70vh]">
				<span>COMBAT CHAIN</span>
			</article>
		</section>
		<section class="absolute bottom-[40vh] left-50">
			<article class="absolute bottom-[-6.9vh] left-[-42.8vw]">
				<span>HEAD</span>
			</article>
			<article class="absolute bottom-[-6.9vh] left-[37.15vw]">
				<span>GRAVEYARD</span>
			</article>
		</section>
		<section class="absolute bottom-[24.4vh] left-50">
			<article class="absolute bottom-[-7.4vh] left-[-42.8vw]">
				<span>CHEST</span>
			</article>
			<article class="absolute bottom-[-7.4vh] left-[-36.9vw]">
				<span>ARMS</span>
			</article>
			<article class="absolute bottom-0 left-[8.25vw]">
				<span>WEAPON</span>
			</article>
			<article class="absolute bottom-0 left-[14.1vw]">
				<span>HERO</span>
			</article>
			<article class="absolute bottom-0 left-[20vw]">
				<span>WEAPON</span>
			</article>
			<article class="absolute bottom-[-7.4vh] left-[31.2vw]">
				<span>PITCH</span>
			</article>
			<article class="absolute bottom-[-7.4vh] left-[37.15vw]">
				<span>DECK</span>
			</article>
		</section>
		<section class="absolute bottom-10 left-50" style="z-index: 1;">
			<article class="absolute bottom-[-7.5vh] left-[-42.8vw]">
				<span>LEGS</span>
			</article>
			<article class="absolute bottom-[0vh] left-[14.1vw]">
				<span>ARSENAL</span>
			</article>
			<article class="absolute bottom-[-7.5vh] left-[37.15vw]">
				<span>BANISH</span>
			</article>
		</section>
		<section id="joueur" class="flex justify-center absolute bottom-[-18vh] left-50" style="overflow: visible; z-index: 2;"></section>
	</main>
	<script src="{{ asset("./cards.js")}}"></script>
{% endblock %}
