@tailwind base;
@tailwind components;
@tailwind utilities;

.zoom {
    transition: transform .2s;
    /* Animation */
    width: 10vw;
    height: auto;
    margin: 0 auto;
}

.zoom:hover {
    transform: scale(1.5);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
